@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.dm-common{font-size:14px;color:#333;font-family:'Open Sans', sans-serif;line-height:1.4em}
.italic{font-style:italic}
.dm-common table,.dm-common table td,.dm-common table th{font-size:14px;color:#333!important}
.dm-common textarea,.dm-common input[type=text],.dm-common input[type=password],.dm-common input[type=email],.dm-common input[type=number],.dm-common input[type=search],.dm-common input[type=tel],.dm-common input[type=url],.dm-common input[type=button],.dm-common select{box-shadow:0 1px 2px rgba(0,0,0,0.07) inset;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:14px;color:#333;height:30px;line-height:30px;border:1px solid #ddd;font-family:"Open Sans",sans-serif!important;margin:0;padding:3px 5px!important}
.content-container .dailymotion-content .parent{width:100%;margin-left:-16px}
.content-container .dailymotion-content .parent .box{display:inline-block;background-color:#FFF;width:50px;height:50px;border:none;padding:0 3px}
.content-container .dailymotion-content .box{width:362px}
.content-container .dailymotion-content .parent .box img{background:none repeat scroll 0 0 #FFF;border:1px solid #BBB;border-radius:3px 3px 3px 3px;box-shadow:0 0 4px #CCC;position:relative;transition-duration:.33s;transition-property:border-color;width:50px;height:50px;padding:2px}
.dm-block-loading{position:absolute;z-index:999;display:none;padding:186px 0 0 56px}
.popbox{background:none repeat scroll 0 0 #333;border:1px solid #FFF;border-radius:3px 3px 3px 3px;box-shadow:0 0 8px rgba(0,0,0,0.6), 0 0 8px #000 inset;color:#FFF;display:none;float:left;left:-116%;position:absolute;top:93px;transition-duration:0;transition-property:border-color;width:236px;z-index:99999;margin:0}
.popbox .title{padding:10px 0 10px 10px}
.popbox .insert-link{cursor:pointer;padding:10px 0 10px 10px}
.iframe img{border:none!important;position:absolute!important;margin:68px 0 0 92px}
#search_title{width:136px}
.video-thumbnail{height:85px;width:150px;display:block}
.video-gallery-container td.second-column .hide-option{display:none;margin-top:5px;position:relative}
.video-gallery-container td.second-column .hide-option a{float:left;color:#0e5c7f;font-size:13px;border-left:1px solid #dfdfdf;padding:0 7px}
.video-gallery-container td.second-column .hide-option a:first-child{padding-left:0;border:none}
.video-gallery-container td.second-column .hide-option > a:hover{color:#aa000b!important}
.video-gallery-container td.second-column .hide-option .confirm-box,.dm-edit-main .footer-row .confirm-box{width:250px;position:absolute;top:33px;left:20px;border:1px solid #c1c1c1;border-radius:5px;background:#fff;z-index:9999}
.video-gallery-container td.second-column .hide-option .confirm-box .head,.dm-edit-main .footer-row .confirm-box .head{background:#d85117;color:#fff;text-align:center;font-weight:700;padding:12px}
.video-gallery-container td.second-column .hide-option .confirm-box .message,.dm-edit-main .footer-row .confirm-box .message{font-size:13px;color:#222;padding:15px}
.video-gallery-container td.second-column .hide-option .confirm-box a.keep-it,.video-gallery-container td.Vtitle .hide-option .confirm-box a.dmc-keep-it,.dm-edit-main .footer-row .confirm-box a.dmc-keep-it{background:#f7f7f7;border:1px solid #ccc;color:#555!important;border-radius:5px;float:left;margin:0 10px 20px 23px;padding:5px 10px}
.video-gallery-container td.second-column .hide-option .confirm-box a.delete-it,.video-gallery-container td.Vtitle .hide-option .confirm-box a.dmc-delete-it,.dm-edit-main .footer-row .confirm-box a.dmc-delete-it{background:#d85117;border:1px solid #913535;color:#fff!important;border-radius:5px;float:left;padding:5px 10px}
.video-gallery-container td.second-column .hide-option .confirm-box .head span.arrow{width:13px;height:11px;position:absolute;top:-11px;left:37px;background:url(../img/confirm_arrow.png) no-repeat}
.dm-preview-container{width:730px;float:left;padding:30px}
.dm-preview-container .inner{width:260px;float:left;margin-left:15px}
.dm-preview-container .inner .title{color:#29608f;font-size:14px;line-height:20px;font-weight:700;word-wrap:break-word}
.dm-preview-container .inner .views,.dm-preview-container .inner .tag-view{font-size:13px;color:#5d5d5d;margin-top:5px}
.dm-preview-container .inner .tag-view{margin-bottom:5px}
.dm-preview-container .inner div.logo{width:95px;height:20px;background:url(../img/dm_cloud_small.jpg) no-repeat;margin-top:10px}
.dm-preview-container .inner .publish{padding-bottom:10px;border-bottom:1px solid #ccc;margin-bottom:15px}
.dm-preview-container .inner .publish span.logo{width:75px;height:15px;background:url(../img/dm_head_small.jpg) no-repeat;display:inline-block;vertical-align:bottom}
.dm-preview-container .inner .desc{font-size:13px;color:#5d5d5d;line-height:18px;max-height:110px;overflow-y:auto}
.dm-preview-container .inner .embed-url{margin-top:15px}
.dm-preview-container .inner .embed-url a{color:#075a85;font-size:13px;word-wrap:break-word}
ul.tabs.primary{margin-right:16px}
ul.tabs.primary li a{background:#E7E7E7}
#page{padding-top:0!important}
.dm-main{width:100%;float:left;border:1px solid #ddd;position:relative}
.dm-main .header{width:98.5%;float:left;border-bottom:1px solid #DDD;padding:10px .75%}
.dm-main .header .upload-link a{background:#2EA2CC;border:1px solid #0074A2;border-radius:5px;color:#FFF;display:inline-block;font-size:14px;font-weight:700;text-align:center;text-decoration:none;width:170px;float:right;margin:-85px 0 0 8px;padding:5px 0}
.dm-main .header .filter .form-item{float:left;margin:0;padding:0}
.dm-main .header .filter form input[type=text]{width:235px;height:30px;border:1px solid #ddd;border-radius:0}
.dm-main .header .filter form input[type=submit]{width:80px;height:30px;border:1px solid #ddd;border-radius:5px;background:#f7f7f7;color:#555;margin:0 0 0 10px}
.dm-main .header .filter .dsl-sort{float:right;height:30px}
.dm-main .header .filter .dsl-sort label{float:left;font-weight:400;line-height:30px}
.dm-main .header .filter .dsl-filter,.dm-main .header .filter .dsl-sort select{margin-left:8px}
.dm-main .header .paging{margin-top:10px;float:right}
.dm-main .header .paging a,.dm-main .footer .paging a{background:#E4E4E4;display:inline-block;color:#333;margin-left:6px;padding:8px 10px}
.dm-main .video-gallery-container{border:none;margin:0}
.dm-main .video-gallery-container tbody{border:none}
.dm-main .video-gallery-container tr{background:none}
.dm-main .video-gallery-container td{vertical-align:top;border:none;padding:15px 25px}
.dm-main .video-gallery-container td.first-column{width:15%}
.dm-main .video-gallery-container td.second-column{width:55%;text-align:left;padding:15px 0}
.dm-main .video-gallery-container td.second-column a{color:#29608f;font-size:14px;display:inline-block;font-weight:400}
.dm-main .video-gallery-container td.second-column .title{color:#29608f;font-size:14px;display:inline-block;font-weight:700}
.dm-main .video-gallery-container td.second-column .views-channel{font-size:13px;color:#555}
.dm-main .video-gallery-container td.third-column{text-align:right;border:none;font-size:13px;color:#555}
.dm-main .footer .paging{float:right;margin-right:10px}
.dm-main .paging .pager li{float:left;padding:0}
.dm-main .paging .pager li.pager-current{border:1px solid #ddd;font-weight:400;margin-left:6px;padding:7px 14px}
.dm-main .paging .pager li.pager-ellipsis{margin-left:6px}
.dm-main .header .filter .search-result-head{width:100%;float:left;margin-top:10px}
.dm-main .header .filter .search-result-head .back-link a{color:#005B80;font-size:13px;font-weight:700}
.dm-main .header .filter .search-result-head .result-count{float:left;margin-left:10px;font-weight:700}
.dm-main .no-result-main{padding:20px 0}
.dm-main .no-result-main .inner{background:url(../img/search_large.png) no-repeat;height:80px;width:70px;margin:0 auto 35px}
.dm-main .no-result-main .msg-line-one{color:#7D7D7D;font-size:14px;font-weight:700;line-height:18px;text-align:center;padding:0 10px}
#fancybox-wrap{width:auto!important}
span.qus_mark{width:12px;height:12px;background:url(../img/que_icon.png) no-repeat;display:inline-block}
span.tooltip{outline:none}
span.tooltip strong{line-height:30px}
span.tooltip span{z-index:10;display:none;margin-top:-30px;margin-left:28px;width:240px;line-height:16px;padding:14px 20px}
span.tooltip:hover span{display:inline;position:absolute;color:#111;border:1px solid #DCA;background:#fffAF0}
.callout{z-index:20;position:absolute;top:30px;border:0;left:-12px}

span.tooltip span{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-moz-box-shadow:5px 5px 8px #CCC;-webkit-box-shadow:5px 5px 8px #CCC;box-shadow:5px 5px 8px #CCC}
#fancybox-content{border:none!important}
.dm-edit-main{width:586px!important;background:#fff!important;float:left;padding:25px 47px 17px!important}
.dm-edit-main .dmc-edit-container .top-row .thumbnail{width:83%;float:left;margin-left:10px}
.dm-edit-main .dmc-edit-container .top-row .thumbnail .thumb-right a#browse_file,.dm-edit-main #dm_update_form .middle-row .middle-wrapper a#dmc-new-tag{position:static!important;text-indent:0;width:auto;height:auto;background:#f7f7f7;border:1px solid #ccc;border-radius:5px;color:#555;font-size:13px;padding:5px 10px}
.dm-edit-main #dm_update_form .middle-row .middle-wrapper a#dmc-new-tag{display:inline-block;vertical-align:top}
.dm-edit-main .dmc-edit-container .middle-row{float:left;border:1px solid #eee;background:#fdfdfd;margin-top:15px}
.dm-edit-main .dmc-edit-container .middle-row .head{border-bottom:1px solid #EEE;padding:7px 20px}
.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper{padding:25px}
.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper label{width:85px;float:left;text-align:right;margin-right:20px;line-height:30px}
.dm-edit-main #dm_update_form .middle-row .middle-wrapper input[type=text]{width:350px;border:1px solid #ddd;height:30px;line-height:30px;border-radius:0}
.dm-edit-main #dm_update_form .middle-row .middle-wrapper input.missing-value{border:2px solid #d85117}
.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper .present-tags a{margin-left:8px;color:#a00}
.dm-edit-main #dm_update_form .middle-row .middle-wrapper input.keyInput{width:83px;margin-right:20px;color:#000}
.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper textarea{width:350px}
.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper a#dmc-new-tag{margin-left:10px}
.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper .present-tags{margin-bottom:30px}
.dm-edit-main .dmc-edit-container #dmc-message.alert-msg{width:100%;text-align:center;padding:15px 0}
.dm-edit-main .dmc-edit-container .bottom-row .player label{margin-right:10px;float:left;line-height:30px}
.dm-edit-main .dmc-edit-container .bottom-row .preview label{font-style:italic;float:left}
.dm-edit-main .dmc-edit-container .bottom-row .iframe{float:left;margin:4px 0 0 67px}
.dm-edit-main .dmc-edit-container .footer-row{width:100%;float:left;margin-top:45px}
.dm-edit-main .dmc-edit-container .footer-row .delete{float:left;position:relative;margin:10px 0 0 75px}
.dm-edit-main .dmc-edit-container .footer-row .delete > a{font-size:12px;color:#a00}
.dm-edit-main .dmc-edit-container .footer-row .save a{background:#2ea2cc;border:1px solid #0074a2;font-size:14px;font-weight:700;color:#fff;display:block;border-radius:5px;padding:10px 35px}
.dm-edit-main .dmc-edit-container .alert-msg{width:97%;float:left;background:#d85117;font-size:14px;color:#fff;margin-top:25px;display:none;text-align:center;margin-left:8px;padding:20px 0}
.dm_cloud .dmc-edit-container .alert-msg{width:100%;margin-left:auto}
.dm-edit-main .footer-row .confirm-box .head span.arrow{width:15px;height:12px;position:absolute;bottom:-12px;left:auto;right:98px;background:url(../img/white_arrow.png) no-repeat}
.dm-edit-main .footer-row .confirm-box{left:-95px;top:auto;bottom:33px}
.dm-edit-main .dmc-edit-container .logo{margin-bottom:20px}
.dm-edit-main .dmc-edit-container .logo h2{float:left;margin:0 10px 0 0}
.dm-edit-main .dmc-edit-container .logo span.logo{width:100px;height:20px;background:url(../img/cloud_tab_head.png) no-repeat;display:inline-block}
.dm-edit-main #dm_update_form .logo span.logo{width:80px;height:20px;background:url(../img/daily_tab_head.png) no-repeat;display:inline-block;margin:0}
.dm-edit-main #dm_update_form .title-wrap input[type=text]{width:100%;border:1px solid #DDD;height:30px;margin-top:10px}
.dm-edit-main .dmc-edit-container .desc-wrap{margin-top:20px}
.dm-edit-main .dmc-edit-container .desc-wrap span.qus_mark{margin:0 4px}
.dm-edit-main .dmc-edit-container .desc-wrap textarea{width:100%;margin-top:10px;min-height:90px}
span.required{color:#a00;margin-right:3px}
.dm-edit-main .dmc-edit-container .chanel-wrap select{width:150px;margin-left:10px}
.dm-edit-main .dmc-edit-container .thumb-wrap .video-thumb{float:left;margin-left:10px}
.dm-edit-main .dmc-edit-container .thumb-wrap .thumb-right a#browse_file{position:static!important;width:auto;height:auto;background:#f7f7f7;border:1px solid #ccc;border-radius:5px;color:#555;font-size:13px;display:inline-block;text-indent:0;padding:5px 10px}
.dm-edit-main .dmc-edit-container .tags-wrap .tagsinput{width:350px!important;border:1px solid #DDD;height:auto!important;min-height:30px!important;margin-left:10px;float:left;overflow-x:hidden;padding:0}
.dm-edit-main .dmc-edit-container .tags-wrap .tagsinput span.tag{background:#e3e3e3;border:1px solid #d5d5d5;color:#333;margin:4px;padding:0 3px}
.dm-edit-main .dmc-edit-container .tags-wrap .tagsinput span.tag a{color:#333}
.dm-edit-main .dmc-edit-container .tags-wrap #video-tags_addTag{width:25%}
.dm-edit-main .dmc-edit-container .tags-wrap #video-tags_addTag input{width:100%;border:none;margin:2px 0}
.dm-edit-main .dmc-edit-container .tags-wrap label{float:left;line-height:30px}
.dm-edit-main #dm_update_form .visibility-wrap input[type=checkbox]{width:auto;margin:0 10px}
.dm-edit-main .dmc-edit-container .visibility-wrap .cls_visibility{margin-left:75px;color:#777;font-size:12px}
.dm-edit-main .dmc-edit-container .visibility-wrap .cls_visibility p{font-style:italic;margin:5px 0;padding:0}
.dm-edit-main .dmc-edit-container .visibility-wrap.visibility_public{width:auto;margin-left:75px}
.dm-edit-main #dm_update_form .visibility-wrap.visibility_public input[type=checkbox]{margin-left:0}
.dm-edit-main .dmc-edit-container .channel-wrap label{display:inline-block;line-height:30px}
.dm-edit-main span.qus_mark{vertical-align:middle;margin:0 4px}
.dm-edit-main .dmc-edit-container .visibility-wrap label{display:inline-block;margin-right:7px;color:#333}
.dm-edit-main .dmc-edit-container .visibility-wrap input{margin-right:4px}
.dm-edit-main .dmc-edit-container .visibility-wrap.blur,.dm-edit-main .dmc-edit-container .visibility-wrap.blur .cls_visibility{color:#ccc}
.dm-edit-main label{font-weight:400}
.dm_cloud{width:570px!important;padding:25px 55px!important}
#fancybox-close{right:12px!important;top:11px!important}
.dm-edit-main .title-wrap,.dm-edit-main .desc-wrap,.dm-edit-main .thumb-wrap,.dm-edit-main .channel-wrap,.dm-edit-main .tags-wrap,.dm-edit-main .visibility-wrap,.dm-edit-main .footer-row{-moz-box-sizing:border-box;margin-top:4px!important;padding:8px}
.dm-edit-main .footer-row{margin-top:28px!important}
.dm-edit-main #dm_update_form div.logo{margin-bottom:8px;padding:0 8px}
.side-video-tabs ul,.side-video-tabs .block ul{list-style:none;padding:0!important}
.side-video-tabs .side-main .content ul li{width:92%;float:left;position:relative;padding:10px 4%}
.side-video-tabs .side-main .content ul li:hover{background:#cdebf6}
.side-video-tabs .side-main .content ul li .meta-image{width:48%;float:left;position:relative}
.side-video-tabs .side-main .content ul li .meta-image a{position:absolute;top:14px;left:22px;background:#2ea2cc;border:1px solid #1573a1;border-radius:5px;color:#fff;display:none;z-index:99999;padding:6px 12px}
.side-video-tabs .side-main .content ul li .meta-image img{width:90%;height:60px}
.side-video-tabs .side-main .content ul li .video-info{width:52%;float:left;line-height:15px}
.side-video-tabs .side-main .content ul li .video-info .title{font-size:11px;font-weight:700;word-wrap:break-word;color:#0074A2}
.side-video-tabs .side-main .content ul li .video-info span{color:#5D5D5D;display:block;font-size:10px;font-weight:400}
.side-video-tabs .side-main .content ul li .video-info span.author img{width:29px;height:29px;margin-right:10px}
#sidebar-second .block,#sidebar-second .block .content{float:left;background:#fff;border:none;margin:0;padding:0}
#sidebar-second .section .contextual-links-region{width:100%!important;border:1px solid #c7c7c7;min-height:500px}
.side-video-tabs input#video_title{width:96%;background:url(../img/search_icon.png) no-repeat 7px center;border:1px solid #DDD;color:#999;font-size:12px;padding-left:25px!important;margin:5px}
.ab{font-size:14px;line-height:1.4;margin:0;padding:8px 12px}
.side-video-tabs ul.side-tabs{width:100%;border-bottom:1px solid #DDD;display:inline-block}
.side-video-tabs ul.side-tabs li:nth-of-type(2){margin-left:-7px}
.side-video-tabs ul.side-tabs li a{color:#005B80;font-size:12px;display:inline-block;margin:10px 5px 0;padding:8px 10px}
.side-video-tabs ul.side-tabs li a.active-select{color:#333;border-left:1px solid #DDD;border-right:1px solid #DDD;border-top:1px solid #DDD;position:relative;top:1px;background:#fff;text-decoration:none}
.side-video-tabs .side-main span.popbox{width:290px;border:1px solid #c7c7c7;box-shadow:none;background:#fff;left:auto;right:101%;top:-40px;padding:20px}
.side-video-tabs .side-main span.popbox iframe{width:290px!important;height:160px!important}
.metabox-wrap{overflow:visible}
.side-video-tabs .side-main span.popbox span.popbox-title{color:#29608f;font-weight:700;font-size:14px;line-height:20px;display:inline-block;padding:10px 0 6px}
.side-video-tabs .side-main span.popbox .video-info span{color:#5d5d5d}
.side-video-tabs .side-main span.popbox .video-info span.author{width:70%;font-size:11px;font-weight:700;float:left}
.side-video-tabs .side-main span.popbox .video-info span.views{width:30%;float:right;text-align:right;padding-top:17px}
.side-video-tabs .side-main span.popbox .video-info span.description{width:100%;float:left;font-size:12px;line-height:18px;margin-top:8px;font-style:normal;padding:0}
.side-video-tabs .side-main span.popbox .button-container a.meta-insert{background:#2ea2cc;font-size:14px;border:1px solid #1574a2;color:#fff;border-radius:5px;float:left;margin-left:7px;padding:8px 14px}
.side-video-tabs .side-main span.popbox .button-container a.meta-copy{background:#f7f7f7;font-size:14px;border:1px solid #ccc;color:#555;border-radius:5px;float:right;margin-right:7px;padding:8px 14px}
.side-video-tabs .side-main span.popbox .tooltip-arrow{width:22px;height:24px;background:url(../img/pop_arrow.png) no-repeat;position:absolute;top:67px;right:-22px}
.side-video-tabs .side-main .header #video_group{width:45%;font-size:12px;margin:5px 0 5px 5px}
.side-video-tabs .side-main .header input[type=text]{background:url(../img/search_icon.png) no-repeat 7px center;border:1px solid #DDD;color:#999;width:46.5%;display:inline-block;padding-left:25px!important;vertical-align:top;margin:5px 0 0 10px}
.side-video-tabs .side-main .footer .paging{width:100%;text-align:center;display:inline-block;margin:10px 0}
.side-video-tabs .side-main .footer .paging a{text-decoration:underline}
.side-video-tabs .side-main .footer .paging a.previous{border-right:1px solid #B5B5B5;margin-right:10px;padding:0 10px 0 0}
.side-video-tabs .no-result-main .inner{width:70px;height:80px;background:url(../img/search_large.png) no-repeat;position:relative;left:37%;margin:35px 0 20px}
.side-video-tabs .no-result-main .msg-line-one{text-align:center;font-size:14px;color:#7d7d7d;font-weight:700;line-height:18px;padding:0 10px}
.side-video-tabs img.dm-loading{position:absolute;left:50%;top:50%;z-index:9;margin:-16px 0 0 -16px}
.overlay{background:rgba(0,0,0,0.3);width:100%;height:100%;position:absolute;top:0;left:0;z-index:99}
#dailymotion_box{background:#ccc;float:left;width:48.5%;margin-right:2%;border:1px solid #E7E7E7}
#dailymotion_box_conected{background:#B6D7A8;border:2px solid #009E0F;height:50px}
.align_center{text-align:center;height:250px;padding:116px 151px 40px 138px}
.align_center a.dm_pop_btn,.align_center a.cloud_pop_btn{background:#000;width:200px;float:left;font-weight:700;color:#fff;text-decoration:none;border-radius:10px;padding:10px}
#header-container .dmc-box,#header-container .cloudbox{margin-right:0}
#dailymotion_box .align_center{height:auto;padding:30px 20px 35px}
#dailymotion_box .align_center .dm_pop_btn,#dailymotion_box .align_center .cloud_pop_btn{width:99.6%;background:#2fa3cc;border:1px solid #0075a2;border-radius:5px;margin-top:35px;padding:15px 0}
#dailymotion_box .align_center a.sub_link{display:inline-block;color:#333;margin:25px auto 0}
#dailymotion_box .header_logo{min-height:55px}
#dailymotion_box .header_logo.first img{margin-top:14px}
#cloud_form_popup .form-item .qus_mark{margin-left:3px;vertical-align:middle}
#fancybox-content .connect_heading{background:#333;color:#fff;font-weight:700;padding:15px 30px}
#fancybox-content #cloud_settings_form #message{background:#d54e21;color:#fff;text-align:center;font-size:14px;margin:20px 0;padding:15px 25px}
#dailymotion_box #dailymotion_box_conected{background:#e0edd8;border:none;border-radius:5px;height:auto;margin-top:12px;padding:20px 0}
#dailymotion_box #dailymotion_box_conected.conected_second{background:#fff;border:1px solid #e7e7e7;margin-top:15px;text-align:left;height:auto;border-radius:0;padding:20px}
#dailymotion_box .conected_second .account_picture{width:37px;height:37px;float:left;margin-right:15px}
#dailymotion_box .conected_second .account_picture img{width:37px;height:37px}
#dailymotion_box .conected_second .disconnect_wrapper a.disconnect_account{font-size:11px;color:#0074a2;text-decoration:underline}
#dailymotion_box .conected_second .total_video{width:30%;display:inline-block;font-size:11px}
#dailymotion_box .conected_second .total_video .span_count{margin-top:5px;font-weight:700;font-size:14px}
.plupload-thumbs .thumb{width:50px;padding-right:5px;float:left}
.plupload-thumbs .thumb img{width:50px;height:50px}
#full_wrapper h2{font-size:24px;color:#1c8dc4;margin-bottom:10px;font-weight:400;line-height:36px}
#full_wrapper .filelist,#full_wrapper .plupload-thumbs{width:96%;margin:0 auto}
#full_wrapper .filelist.filelist_progress{float:left;margin-left:2%;border:4px solid #0074a2;margin-bottom:6px}
#full_wrapper .filelist.filelist_progress .file{width:96.5%}
#full_wrapper .file{width:97%;float:left;font-size:14px;margin-bottom:6px;background:#fff;border:1px solid #f1f1f1;padding:10px 15px}
#full_wrapper .file .file_name{width:30%;float:left;text-align:left}
#full_wrapper .file .file_progress_wrapper{width:30%;float:left}
#full_wrapper .file .seco_progress_wrapper{width:86%;float:left}
#full_wrapper .file .fileprogress{height:22px}
#full_wrapper .file .file_progress_wrapper.prog_comp .fileprogress{background:#64a53a;text-align:center;color:#fff;font-size:11px;font-weight:700;line-height:22px}
.main-gallery-container .icon-help{width:98%;background:#fff;float:left;min-height:58px;border:1px solid #ddd;border-top:none;padding:0}
.main-gallery-container .infomation_form .wrap{width:100%;margin:0}
.main-gallery-container #dailymotioncloud-display-section .video-gallery-container a{min-height:0}
#dailymotioncloud-display-section #video-gallery-container .to-play a{min-height:30px}
.main-gallery-container #dailymotioncloud-display-section .dm-paging .dsl-pager{position:static;float:right;margin-right:5px}
.main-gallery-container .video-gallery-container td.last a{width:20px;height:20px;margin-right:15px;float:left;text-indent:-99999px;padding:0!important}
.main-gallery-container .video-gallery-container td.last a.dmc-edit{background:url(../img/edit_icon.png) no-repeat}
.main-gallery-container .video-gallery-container td.last a.dmc-delete{background:url(../img/delete_icon.png) no-repeat}
.main-gallery-container .video-gallery-container td.last a#play-video-trigger{background:url(../img/play_icon.png) no-repeat}
.main-gallery-container .infomation_form .wrap .icon{width:77px;height:74px;background:url(../img/not_connected.png) no-repeat;margin:50px auto 0}
.main-gallery-container .infomation_form .wrap .msg p,.main-gallery-container .infomation_form .wrap .no-result-container .message p,.postbox .metabox-video-list .no-video-main .msg p{font-size:14px;color:#222;margin:0}
.main-gallery-container .infomation_form .wrap .link,.main-gallery-container .infomation_form .wrap .no-result-container .page-link{text-align:center;margin:30px 0 20px}
.main-gallery-container .infomation_form .wrap .link a,.main-gallery-container .infomation_form .wrap .no-result-container .page-link a,.postbox .metabox-video-list .no-video-main .link a{background:#3aa4cb;color:#fff;font-weight:700;font-size:14px;border:1px solid #1676a1;border-radius:5px;display:inline-block;text-decoration:none;padding:10px 20px}
#full_wrapper .file .file_progress_wrapper.prog_comp .pro_text{margin-left:2%;font-size:11px;color:#64a53a}
#full_wrapper .file .file_progress_wrapper.up_prog_load .fileprogress{background:#0074a2}
#full_wrapper .file .file_progress_wrapper.up_prog_load .pro_text{margin-left:2%;font-size:11px;color:#0074a2}
#full_wrapper .file .file_progress_wrapper.error_upload .fileprogress{background:#d85117;text-align:center;color:#fff;font-size:11px;font-weight:700}
#full_wrapper .file .file_progress_wrapper.error_upload .pro_text{margin-left:2%;font-size:11px;color:#d85117}
#full_wrapper .file .file_size{width:30%;float:left;text-align:center}
#full_wrapper .file .file_action{width:10%;float:left;text-align:right}
#full_wrapper .file .file_action a.remove_file_action{text-decoration:none;color:#a00}
#full_wrapper .file .file_action a.edit_file_action{color:#0074a2;text-decoration:none}
#full_wrapper .action_wrappers{display:none;float:right;text-align:right;margin:10px 1.5% 0 0}
#full_wrapper > ul.upload_desc{width:96%;float:left;list-style:none;margin:20px 2% 0;padding:0}
#full_wrapper > ul.upload_desc li{font-size:11px;margin-bottom:0}
#full_wrapper #plupload-upload-ui{border:5px dashed #d9d9d9;width:98%;float:left;margin-top:20px;padding:7px 5px}
#full_wrapper .drag-drop-area{background:#d9d9d9;height:215px}
#img1plupload-upload-ui input[type=button]{background:#f7f7f7;border:1px solid #ccc;font-size:13px;height:auto;padding:5px 10px}
#full_wrapper .action_wrappers label{display:inline-block;font-weight:400}
#full_wrapper .action_wrappers a{width:185px;display:block;text-indent:0;background:#39a3cb;border:1px solid #1575a0;border-radius:5px;text-align:center;font-size:14px;font-weight:700;color:#fff;text-decoration:none;margin:15px 0 0 98px;padding:10px 0}
#plupload-upload-ui .drop_wrapper{width:230px;height:90px;position:absolute;left:50%;top:50%;text-align:center;margin:-45px 0 0 -115px}
#plupload-upload-ui .drop_wrapper input#video_id1plupload-browse-button{background:#FAFAFA;border:1px solid #ccc;color:#555;border-radius:3px;font-size:13px;line-height:22px;cursor:pointer}
#plupload-upload-ui .drop_wrapper p{font-size:14px;margin:5px 0}
#full_wrapper .main-gallery-container .infomation_form{background:#FFF!important;display:table!important;border:1px solid #DDD;padding-left:0;font-size:14px;border-radius:0;position:relative;width:98%}
.dm-main .dmc-not-auth .icon,.sidebar-main .not-auth-main .icon{background:url(../img/not_connected.png) no-repeat scroll 0 0 rgba(0,0,0,0);height:74px;width:77px;margin:50px auto 0}
.sidebar-main .not-auth-main .msg p{font-size:14px;margin:14px 0}
.dm-main .no-uploaded-main,.side-main .no-video-main{text-align:center}
.dm-main .no-uploaded-main .msg-line-one,.side-main .no-video-main .msg{margin-top:10px;padding:20px 10px}
.dm-main .no-uploaded-main a,.side-main .no-video-main .link a{margin-bottom:15px;display:inline-block;background:#2EA2CC;border:1px solid #0074A2;border-radius:5px 5px 5px 5px;color:#FFF;font-weight:700;padding:10px 15px}
.dm-main .dmc-not-auth .link,.sidebar-main .not-auth-main .link{text-align:center;margin:30px 0 20px}
.dm-main .dmc-not-auth .link a,.sidebar-main .not-auth-main .link a{background:none repeat scroll 0 0 #3AA4CB;border:1px solid #1676A1;border-radius:5px;color:#FFF;display:inline-block;font-size:14px;font-weight:700;text-decoration:none;padding:10px 20px}
#full_wrapper .upload_message{display:none;width:96%;background:#0074a2;text-align:center;color:#fff;font-size:14px;margin:0 auto 15px;padding:15px 0}
#full_wrapper .upload_message span.up_image{width:21px;height:21px;background:url(../../dailymotion/img/alert_icon.png);margin-right:15px;display:inline-block;vertical-align:middle}
#full_wrapper .upload_error_message{background:#d85117;padding:15px 0}
.success-msg{background:#64A53A!important}
.user_publish_setting{border-radius:0;background:#fff;border:none;margin:0!important;padding:0 20px 15px}
.user_publish_setting .wrap{border:1px solid #c8c8c8;margin:0}
.user_publish_setting .wrap h2{background:#333;color:#fff;font-size:14px!important;font-weight:700;line-height:29px!important;margin:0;padding:3px 12px}
.user_publish_setting .wrap form{padding:0 10px 15px}
.user_publish_setting .wrap .form-item label{width:95px;font-size:11px;line-height:28px;font-weight:400!important;display:inline-block;padding:12px 10px}
.user_publish_setting .wrap table.form-table select{padding:12px 8px 12px 0}
.user_publish_setting .wrap table.form-table td span.qus_mark{margin-left:15px}
.user_publish_setting .wrap form p.submit{width:100%;text-align:center;margin:0;padding:0}
.user_publish_setting .wrap form p.submit input{width:auto;height:auto;font-size:14px;font-weight:700;color:#fff!important;background:#2EA2CC;box-shadow:0 1px 0 rgba(120,200,230,0.5) inset, 0 1px 0 rgba(0,0,0,0.15);border-radius:5px;border-color:#0074A2;margin:0;padding:5px 17px}
.user_publish_setting .wht_pub{float:left;background:#e8f5fb;border-radius:5px;margin-bottom:15px;padding:18px}
.user_publish_setting .wht_pub .left_pub{width:12%;height:30px;float:left;background:url(../img/pub_not.png) no-repeat center}
.user_publish_setting .wht_pub .right_pub{width:88%;float:left}
.user_publish_setting .wht_pub .right_pub h3{font-size:14px;font-weight:700;margin:0 0 6px}
.user_publish_setting .wht_pub .right_pub p{font-size:11px;line-height:1.5;margin:0}
.user_publish_setting .wht_pub .right_pub p a{color:#0074A2;text-decoration:underline}
.user_publish_setting #publicationmessage{float:left;width:100%;text-align:center;font-size:14px;color:#fff;background:#d85117;margin-bottom:15px;line-height:18px;font-weight:700;display:none;padding:12px 0}
.user_publish_setting .wrap select,.user_publish_setting .wrap input[type=text]{width:60%;margin-right:10px}
.dm-edit-main .title-wrap.missing-value,.dm-edit-main .channel-wrap.missing-value{border:3px solid #D85117;padding:5px}
.page-admin-dm-video-gallery #main-wrapper ul.tabs{background:none;position:relative;top:1px;z-index:9;padding:0}
.page-admin-dm-video-gallery #main-wrapper ul.tabs li a{width:80px;background:url(../img/daily_tab_head.png) no-repeat center;text-indent:-999px;border-radius:0;border:none}
.page-admin-dm-video-gallery #main-wrapper ul.tabs li + li a{width:100px;background:url(../img/cloud_tab_head.png) no-repeat center;text-indent:-999px}
.page-admin-dm-video-gallery #main-wrapper ul.tabs li a.active{border:1px solid #DDD;border-bottom:none}
.page-admin-dm-video-gallery .section #block-system-main > .content{margin-top:0}
.dm-main .dm-loading{position:absolute;left:50%;top:50%;display:none;margin:-16px 0 0 -16px}
.video-gallery-container td.first-column .unpublishedOverlay{width:150px;height:85px;position:absolute;top:0;left:0;background:url(../img/unpub-overlay.png)}
.video-gallery-container td.first-column .privateOverlay{width:150px;height:85px;position:absolute;top:0;left:0;background:url(../img/private-overlay.png)}
.video-gallery-container td.second-column .private-status{display:inline-block;font-weight:700;color:#555}
.video-gallery-container td.second-column .qus_mark > span{position:absolute;top:-75px;left:-84px;color:#fff;background:#333;text-align:center;width:160px;font-style:normal;font-size:11px;box-shadow:none;border:none;margin:0;padding:8px}
.video-gallery-container td.second-column .qus_mark > span img{left:85px;position:absolute;top:64px}
.dailymotion .box,.dailymotion-cloud .box{display:inline-block;width:150px;height:78px;background-color:#FFF;margin:5px}
.dailymotion .parent,.dailymotion-cloud .parent,.user_publish_setting .wrap table.form-table{width:100%}
.dailymotion-cloud .image img,.dailymotion .image img{width:150px;height:78px}
.contentThumb img,.ui-sortable .thumb img{cursor:pointer}
.confirm-box,.other-backend-info,.dm-play-time,.meta-desc,.video-status,.side-video-tabs .side-main .content ul li .video-info span#avatar,.side-video-tabs .side-main .video-url,.dm-main .overlay,#full_wrapper .overlay,.none,span.popbox .button-container #video-url,.none_url{display:none}
.content .video-gallery-container tr:hover .hide-option,.dm-main .no-result-main .msg-line-one .new-search,.side-video-tabs .side-main .content ul li:hover .meta-image a{display:block}
.dm-preview-container iframe,.dm-main .header .filter .search-result-head .back-link,.dm-edit-main .dmc-edit-container .top-row .label,.dm-edit-main .dmc-edit-container .top-row .thumbnail .thumb-img,.dm-edit-main .dmc-edit-container .bottom-row .player,.dm-edit-main .dmc-edit-container .bottom-row .preview,.dm-edit-main .dmc-edit-container .thumb-wrap label,.side-video-tabs ul.side-tabs li{float:left}
.dm-main .header .upload-link,.dm-main .header .filter,.dm-edit-main .dmc-edit-container .top-row,.side-video-tabs .side-main .content ul li span.popbox .video-info,.box_wrapper{width:100%;float:left}
.dm-main .header .filter .dsl-filter,.dm-edit-main .dmc-edit-container .footer-row .save{float:right}
.dm-main .header .paging .item-list,.dm-main .footer .paging .item-list{float:right;margin-left:6px}
.dm-main .header .paging .total-records,.dm-main .footer .paging .total-records{float:left;font-size:12px;line-height:37px}
.dm-main .video-gallery-container tr:nth-child(even),.side-video-tabs .side-main .content ul li:nth-child(even){background:#f9f9f9}
.dm-main .content,#dailymotion_cwrapper{clear:both}
.dm-main .footer,.main-gallery-container #dailymotioncloud-display-section .dm-paging{width:100%;float:left;border-top:1px solid #ddd;padding:10px 0}
.dm-main .paging ul.pager,#cloud_form_popup .form-item,#dailymotion_form_popup .form-item{margin:0;padding:0}
span.tooltip:hover,.side-video-tabs a:hover{text-decoration:none}
.dm-edit-main .dmc-edit-container .top-row .thumbnail .thumb-img img,.dm-edit-main .dmc-edit-container .thumb-wrap .video-thumb img{width:225px;height:127px}
.dm-edit-main .dmc-edit-container .top-row .thumbnail .thumb-right,.dm-edit-main .dmc-edit-container .thumb-wrap .thumb-right{float:left;margin-left:15px}
.dm-edit-main .dmc-edit-container .top-row .thumbnail .thumb-right .msg,.dm-edit-main .dmc-edit-container .thumb-wrap .thumb-right .msg{margin-top:10px}
.dm-edit-main .dmc-edit-container .top-row .thumbnail .thumb-right .msg p,.dm-edit-main .dmc-edit-container .thumb-wrap .thumb-right .msg p{color:#5d5d5d;font-size:12px;margin:0;padding:0}
.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper > div,#video_id1plupload-thumbs,#dailymotion_box .conected_second .disconnect_wrapper{margin-bottom:25px}
.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper .new-tags,.dm-edit-main .dmc-edit-container span.logo,#full_wrapper .filelist.filelist_progress .file:last-child{margin-bottom:0}
.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper .present-tags .tag,#dailymotion_box #dailymotion_box_conected .right_arraow{margin-bottom:15px}
.dm-edit-main .dmc-edit-container .bottom-row,.dm-edit-main .dmc-edit-container .thumb-wrap,.dm-edit-main .dmc-edit-container .tags-wrap,.dm-edit-main .dmc-edit-container .visibility-wrap,.dm-edit-main .dmc-edit-container .channel-wrap,.side-video-tabs .side-main span.popbox .button-container{width:100%;float:left;margin-top:20px}
.dm-edit-main .dmc-edit-container .visibility-wrap.visibility_public .cls_visibility,.dm-main .dmc-not-auth .msg p,.dm-main .no-uploaded-main .msg-line-one p,.side-main .no-video-main .msg p,.user_publish_setting .wrap form .form-item,.page-admin-dm-video-gallery #main-wrapper .tabs{margin:0}
.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper .new-tags input::-webkit-input-placeholder,.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper .new-tags input:-moz-placeholder,.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper .new-tags input::-moz-placeholder,.dm-edit-main .dmc-edit-container .middle-row .middle-wrapper .new-tags input:-ms-input-placeholder{color:#333;opacity:1}
.dm_cloud .footer-row,#sidebar-second .section{padding:0}
.side-video-tabs .side-main .content ul li .video-info span.author,#dailymotion_box .conected_second .account_name,#full_wrapper .upload_message span.bold{font-weight:700}
#header-container #dailymotion_box,.page-admin-dm-video-gallery #main-wrapper ul.tabs li{background:#fff}
#cloud_form_popup,#dailymotion_form_popup{width:595px!important;min-height:296px!important}
#cloud_form_popup form,#dailymotion_form_popup form{padding:0 30px}
#cloud_form_popup .form-item label,#dailymotion_form_popup .form-item label{font-weight:400;padding:20px 0 10px}
#cloud_form_popup .form-item input,#dailymotion_form_popup .form-item input{width:100%;height:30px}
#cloud_form_popup form p.submit,#dailymotion_form_popup form p.submit{text-align:center;border-top:1px solid #eee;margin:15px 0 0;padding:12px 0}
#cloud_form_popup form p.submit input[type=submit],#dailymotion_form_popup form p.submit input[type=submit]{background:#2fa3cc;font-size:14px;border:1px solid #0075a2;border-radius:5px;height:auto;font-weight:700;color:#fff;margin:0;padding:8px 20px}
.main-gallery-container .infomation_form .wrap .msg,.main-gallery-container .infomation_form .wrap .no-result-container .message,.dm-main .dmc-not-auth .msg,.sidebar-main .not-auth-main .msg{margin-top:30px;text-align:center;padding:0 15px}
.main-gallery-container .infomation_form .wrap .no-result-container .icon,.postbox .metabox-video-list .no-video-main .icon,.dm-main .no-uploaded-main .inner,.side-main .no-video-main .icon{width:70px;height:60px;background:url(../img/upload_icon.png) no-repeat;margin:50px auto 0}
.video-gallery-container td.first-column .private-container,.video-gallery-container td.first-column .overlay-container,.video-gallery-container td.second-column .qus_mark{position:relative}